---
import Layout from '@layouts/Layout.astro';
import FormattedDate from '@components/FormattedDate.astro';
import { getCollection } from 'astro:content';
import { Picture } from 'astro:assets';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<style>
  .title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  ul li {
    width: calc(50% - 1rem);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  ul li * {
    transition: 0.2s ease;
  }

  ul li:first-child {
    width: 100%;
    margin-bottom: 1rem;
    align-items: center;
  }

  ul a:hover img {
    box-shadow: var(--box-shadow);
  }

  @media (width <= 720px) {
    ul {
      gap: 0.5em;
    }

    ul li {
      width: 100%;
      text-align: center;
    }

    ul li:first-child {
      margin-bottom: 0;
    }

    ul li:first-child .title {
      font-size: 1.563em;
    }
  }
</style>

<Layout>
  <main class="main-width flex flex-col py-12">
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/${post.id}/`}>
              <Picture
                src={post.data.heroImage ?? '../assets/images/placeholder.png'}
                alt={post.data.heroImageAlt}
                width="720"
                height="360"
                loading="lazy"
                formats={['avif', 'webp']}
                fallbackFormat="webp"
                class="rounded-xl"
              />
            </a>
            <a href={`/${post.id}/`}>
              <h3 class="title">{post.data.title}</h3>
            </a>
            <p class="date text-sm">
              <FormattedDate date={post.data.pubDate} />
              {post.data.updatedDate && (
                <>
                  | Updated <FormattedDate date={post.data.updatedDate} />
                </>
              )}
            </p>
            <p class="introduction text-base">{post.data.description}</p>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
