---
import { Font } from "astro:assets";

const { title: propTitle, description = "The personal site of Sebastian Danielsson" } = Astro.props;

const title = propTitle ? `${propTitle} - sebdanielsson.dev` : "sebdanielsson.dev";
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="theme-color" content="#000" />
<title>{title}</title>

<Font cssVariable="--font-kalam" preload />
<style>
  @view-transition {
    navigation: auto; /* enabled! */
  }
</style>
<link rel="icon" type="image/x-icon" href="/favicon.png" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={title}
  href={new URL("rss.xml", Astro.site)}
/>
<script
  is:inline
  defer
  data-domain="sebdanielsson.dev"
  src="https://plausible.hogwarts.zone/js/script.js"
  crossorigin="anonymous"></script>
