---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

const { item } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/stuffIUse/*.{jpeg,jpg,webp,png,gif}',
);
if (!images[item.image])
  throw new Error(`"${item.image}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<div class="group aspect-2/1 w-full [perspective:1000px]">
  <div
    class="h-full w-full transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]"
  >
    <div class="absolute inset-0 flex flex-col overflow-hidden rounded-xl">
      <Image
        src={images[item.image]()}
        alt={item.name}
        loading="eager"
        class="absolute h-full w-full scale-110 blur-md"
      />

      <Image
        src={images[item.image]()}
        alt={item.name}
        loading="eager"
        class="h-full place-self-center rounded-lg bg-black/80 object-contain blur-none"
      />
    </div>
    <div
      class="absolute inset-0 overflow-hidden rounded-xl bg-black/80 px-8 py-3 text-center text-slate-200 [backface-visibility:hidden] [transform:rotateY(180deg)]"
    >
      <div class="flex h-full flex-col place-content-center items-center">
        <h1 class="my-0 text-base font-bold text-white">{item.name}</h1>
        <p class="text-sm" set:html={item.description} />
        <a
          href={item.link}
          target="_blank"
          class="mt-2 rounded-lg bg-[rgba(100,100,100,0.4)] px-2 py-[6px] text-xs text-white hover:bg-[rgba(255,255,255,0.4)] hover:text-white"
        >
          Read More
        </a>
      </div>
    </div>
  </div>
</div>
