---
import { GITHUB_USER, GITHUB_REPO, COMMIT_ID } from 'astro:env/server';

const repoUrl = `https://github.com/${GITHUB_USER}/${GITHUB_REPO}/commit/${COMMIT_ID}`;

/* const siteName = 'Sebastian Danielsson';
const year = new Date().getFullYear(); */
---

<footer class="flex flex-col items-center py-12 text-xs text-neutral-300">
  <!-- <span>&copy; {year} {siteName}</span> -->
  <span>Commit: <a href=`${repoUrl}/` target="_blank">{COMMIT_ID}</a></span>
</footer>
