---
const githubUser = import.meta.env.GITHUB_USER || 'unknown user';
const repoName = import.meta.env.GITHUB_REPO || 'unknown repo';
const commitId = import.meta.env.COMMIT_ID || 'unknown commit';
const repoUrl = `https://github.com/${githubUser}/${repoName}/commit/${commitId}`;

/* const siteName = 'Sebastian Danielsson';
const year = new Date().getFullYear(); */
---

<footer class="flex flex-col items-center py-12 text-xs text-neutral-300">
  <!-- <span>&copy; {year} {siteName}</span> -->
  <span>Commit: <a href=`${repoUrl}/` target="_blank">{commitId}</a></span>
</footer>
