---
import type { CollectionEntry } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import FormattedDate from '@components/FormattedDate.astro';
import Tags from '@components/Tags.astro';
import '@styles/markdown.css';
import { Picture } from 'astro:assets';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, tags, heroImage, heroImageAlt, draft } =
  Astro.props;
---

<Layout title={title} description={description}>
  <main class="main-width flex flex-col items-center gap-4 py-4 sm:py-8 md:py-12">
    {
      draft && (
        <div class="w-full max-w-[800px] bg-yellow-100 p-4 text-yellow-800">
          <p class="m-0 text-sm">
            This post is a draft and is not visible on the blog page or in the RSS feed.
          </p>
        </div>
      )
    }
    <div class="w-full max-w-[800px]">
      <Picture
        src={heroImage ?? '/src/assets/images/placeholder.png'}
        alt={heroImageAlt}
        loading="lazy"
        formats={['avif', 'webp']}
        fallbackFormat="webp"
        loading="eager"
        class="hero-image h-auto w-full rounded-xl"
      />
    </div>
    <article class="markdown-body flex w-full max-w-[720px] flex-col">
      <div class="pb-4 leading-none">
        <h1 class="!my-0">{title}</h1>
        <div class="text-sm text-gray-200">
          <span>
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <>
                  | Updated <FormattedDate date={updatedDate} />
                </>
              )
            }
          </span>
        </div>
      </div>
      <slot />
    </article>
    <div class="flex w-full max-w-[720px] flex-col gap-12 px-4 py-12 text-center">
      <p class="text-center text-gray-400">
        <a href="/blog" class="text-[var(--accent-main)] hover:text-[var(--accent-light)]">
          ← Back to all posts
        </a>
      </p>
      <Tags tags={tags} />
    </div>
  </main>
</Layout>
