---
import type { CollectionEntry } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import FormattedDate from '@components/FormattedDate.astro';
import '@styles/markdown.css';
import { Picture } from 'astro:assets';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, heroImageAlt } = Astro.props;
---

<Layout title={title} description={description}>
  <main class="markdown-body">
    <article>
      <div class="hero-image">
        <Picture
          src={heroImage ?? '/src/assets/images/placeholder.png'}
          alt={heroImageAlt}
          width="720"
          height="360"
          loading="lazy"
          formats={['avif', 'webp']}
          fallbackFormat="webp"
          class="rounded-xl shadow-[0_4px_24px_0_rgb(30_41_59_/_18%),_0_1.5px_6px_0_rgb(30_41_59_/_10%)]"
        />
      </div>
      <div class="prose mx-auto w-[720px] max-w-[calc(100%-2em)] p-4 text-[rgb(var(--gray-dark))]">
        <div class="mb-4 py-4 text-center leading-none">
          <h1>{title}</h1>
          <div class="date">
            <span>
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <>
                    | Updated <FormattedDate date={updatedDate} />
                  </>
                )
              }
            </span>
          </div>
        </div>
        <slot />
      </div>
    </article>
  </main>
</Layout>
