---
import Layout from '@layouts/Layout.astro';
import FormattedDate from '@components/FormattedDate.astro';
import Tags from '@components/Tags.astro';
import { Picture } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  posts: CollectionEntry<'blog'>[];
  title?: string;
  description?: string;
}

const { posts, title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <main class="main-width flex flex-col py-4 sm:py-8 md:py-12">
    <slot name="header" />
    <ul class="m-0 mx-auto flex w-full max-w-[800px] list-none flex-wrap justify-between gap-8 p-0">
      {
        posts.map((post, index) => (
          <li
            class={`flex w-full flex-col gap-3 transition-all duration-200 ease-in-out ${index !== 0 ? 'sm:w-[calc(50%-1rem)]' : ''}`}
          >
            {post.data.heroImage && post.data.heroImageAlt && (
              <a
                href={`/${post.id}/`}
                aria-label={`Read more about ${post.data.title}`}
                class="group"
              >
                <Picture
                  src={post.data.heroImage}
                  alt={post.data.heroImageAlt}
                  formats={['avif', 'webp']}
                  fallbackFormat="webp"
                  class="rounded-xl group-hover:shadow-[var(--box-shadow)]"
                  loading={posts[0]?.id === post.id ? 'eager' : 'lazy'}
                />
              </a>
            )}
            <a href={`/${post.id}/`}>
              <h3
                class={`!my-0 transition-all duration-200 ease-in-out ${index === 0 ? '!text-xl sm:!text-2xl md:!text-3xl' : '!text-xl md:!text-2xl'}`}
              >
                {post.data.title}
              </h3>
            </a>
            <p class="text-sm transition-all duration-200 ease-in-out">
              <FormattedDate date={post.data.pubDate} />
              {post.data.updatedDate && (
                <>
                  | Updated <FormattedDate date={post.data.updatedDate} />
                </>
              )}
            </p>
            <p class="text-base transition-all duration-200 ease-in-out">{post.data.description}</p>
            <Tags tags={post.data.tags} />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
